.genre-button {
    background: #e0e5ec;
    border: none;
    border-radius: 50px;
    box-shadow: 9px 9px 10px rgba(199, 204, 211, 0.5), -9px -9px 10px rgba(255, 255, 255, 0.7);
    color: #5a6c7d;
    padding: 1rem 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
}
.genre-button:hover {
    transform: scale(1.1);
}
.genre-button:active {
    transform: scale(0.80);
}