.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  width: 500px;
  min-height: 200px;
  border:3px solid black;
  background: #e0e5ec;
  border-radius: 50px;
  box-shadow: 9px 9px 10px rgba(199, 204, 211, 0.5), -9px -9px 10px rgba(255, 255, 255, 0.7);
  padding: 2rem;
  transition: all 0.5s ease;
}
.movie.opened {
    transform: scale(1.2);
}
.movie h1 {
  margin: 0;
  font-size: 24px;
}

.movie h2 {
  margin-top: 5px;
  color: #666;
  font-size: 18px;
}

.movie button {
    background: #e0e5ec;
    border: none;
    border-radius: 50px;
    box-shadow: 9px 9px 10px rgba(199, 204, 211, 0.5), -9px -9px 10px rgba(255, 255, 255, 0.7);
    color: #5a6c7d;
    padding: 1rem 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.movie button:hover {
    transform: scale(1.1);
}

.movie button:active {
    transform: scale(0.80);
}
.movie button:first-of-type {
  background: white;   /* Yes */
}

.movie button:last-of-type {
  background: #ff6a6a;   /* No */
}

.movie .button-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    }

.movie .imdb-link {
    margin-top: 15px;
    }
.movie-details {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 3s ease, opacity 3s ease;
}

.movie-details.show {
  max-height: 500px;
  opacity: 1;
}