.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 300px;
  padding: 15px;
  border:3px solid black;
  background-color: blanchedalmond;
  transition: all background-color 0.3s ease;
}
.movie.opened {
    transform: scale(1.2);
}
.movie h1 {
  margin: 0;
  font-size: 24px;
}

.movie h2 {
  margin-top: 5px;
  color: #666;
  font-size: 18px;
}

.movie button {
  margin: 10px;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.movie button:first-of-type {
  background: #ff1;   /* Yes */
}

.movie button:last-of-type {
  background: #ff6a6a;   /* No */
}